#span3{
    position: relative;
    right:-160px;
}#span2{
   position: relative;
   right: -17px
}
#int1{
   width:365px;
}
.checked {
       width: 22px;
       color: orange;
     }
.cls{
   width:400px;
}
#div2{
   position: relative;
   right: -170px;
   
}
#spa2{
   position: relative;
   right:-80px;
}#spa3{
   position: relative;
   right:-150px;
}#spa4{
   position: relative;
   right:-210px;
}#spa5{
   position: relative;
   right:-290px;
}
fieldset{
   width: 65%;
}
#span5{
   position: relative;
   right:-10px;}
#span6{
   position: relative;
   right:-150px;
}#span7{
   position: relative;
   right:-295px;
}#span8{
   position: relative;
   right:-405px;
}#span9{
   position: relative;
   right:-495px;
}#span10{
   position: relative;
   right:-620px;}
   #span11{
       position: relative;
       right:-10px;}
   #span12{
       position: relative;
       right:-160px;
   }#span13{
       position: relative;
       right:-305px;
   }#span14{
       position: relative;
       right:-415px;
   }#span15{
       position: relative;
       right:-505px;
   }#span16{
       position: relative;
       right:-630px;}
       #span17{
           position: relative;
           right:-10px;}
       #span18{
           position: relative;
           right:-95px;
       
       }#span19{
           position: relative;
           right:-239px;
       }#span20{
           position: relative;
           right:-349px;
       }#span21{
           position: relative;
           right:-440px;
       }#span22{
           position: relative;
           right:-564px;}
           #div3{
               background-color: rgb(206, 211, 211);
               border-radius: 5px;
               height: 23px;
           }
           #div5{
               background-color: rgb(206, 211, 211);
               border-radius: 5px;
               height: 23px;
           }
           #div4{
               height: 23px;
           }
           #spa6{
               position: relative;
               right:-182px;
           }#spa7{
               position: relative;
               right:-275px;
           }#spa8{
               position: relative;
               right:-350px;}
               #spa9{
                   position: relative;
                   right:-420px;
           }#spa10{
               position: relative;
               right:-510px;}
               #span23{
                   position: relative;top:8px;
                   right:-10px;}
               #span24{
                   position: relative;top:8px;
                   right:-88.5px;
               }#span25{
                   position: relative;top:8px;
                   right:-232px;
               }#span26{
                   position: relative;top:8px;
                   right:-340px;
               }#span27{
                   position: relative;top:8px;
                   right:-432px;
               }#span28{
                   position: relative;top:8px;
                   right:-560px;}
                   #span29{
                       position: relative;
                       right:-10px;}
                   #span30{
                       position: relative;top:-8px;
                       right:-105px;
                   }#span31{
                       position: relative;top:-8px;
                       right:-248px;
                   }#span32{
                       position: relative;top:-8px;
                       right:-356px;
                   }#span33{
                       position: relative;top:-8px;
                       right:-450px;
                   }#span34{
                       position: relative;top:-8px;
                       right:-577px;}
                       #span35{
                           position: relative;
                           right:-10px;}
                       #span36{
                           position: relative;
                           top:-10px;
                           right:-95px;
                       
                       }#span37{
                           position: relative;
                           top:-8px;
                           right:-239px;
                       }#span38{
                           position: relative;
                           top:-8px;
                           right:-346px;
                       }#span39{
                           position: relative;
                           top:-8px;
                           right:-440px;
                       }#span40{
                           position: relative;
                           top:-8px;
                           right:-567px;}
                           #div7{
                               background-color: rgb(206, 211, 211);
                               border-radius: 5px;
                               height: 35px;
                           }
                           #div9{
                               background-color: rgb(206, 211, 211);
                               border-radius: 5px;
                               height: 40px;
                           }
                           #div8{
                               height: 40px;}
                               #in1{
                                   width: 860px;
                                   height:100px;
                               }